# PlatformIO
.pio/
.vscode/

# Arduino
build/
bin/

# Quartus
db/
incremental_db/
output_files/
simulation/
greybox_tmp/
hc_output/
*.rpt
*.summary
*.done
*.jdi
*.pin
*.qws
*.bak
*.orig
*.qws
*.ppf
*.ddb
*.csv
*.cmp

# OS/Editor
.DS_Store
*~
*.swp
*.swo
